.ui-card{margin:20px 0; padding:20px; background:#eee;}
.ui-card .box-btn .btn{margin-right:20px;}
.ui-card .box-btn .btn:last-child{margin-right:0;}
.box-card{margin:20px 0; display:flex; justify-content:space-between;}
.card{width:180px; height:220px; padding:10px 15px; border:1px solid #ccc; border-radius:10px; background:#fff;}
.card-value{margin:20px 0;}